@model asp.net.mvc.charlal1.IN712.DogSelector.Models.Dog

@{
    ViewBag.Title = "ChooseDogForm";
}

<h2>ChooseDogForm</h2>



@* ;
 @Model.BreedName;
 @Model.Coatlength;
 @Model.DisplayName;
 @Model.Drools;
 @Model.GoodWithChildren;
 @Model.GroomingLevel;
 @Model.ImageName;
 @Model.IntelligenceLevel;
 @Model.SheddingLevel;
 @Model.Size;
 *@