@model List<asp.net.mvc.charlal1.MelbourneCupOfficeSweepstakes.Models.Bet>

@{
    ViewBag.Title = "Home";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>



@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Race Time</legend>
        <hr />
        <label id="lBettingPool">Betting Pool:</label>
        <label id="lAvailablePool">$100 (example)</label>
        <hr />
        <label id="lMyWinnings">My Winnings:</label>
        <label id="lWinnings">You have not won anything</label>
        <hr />
        <a href='@Url.Content("~/Player/Create")'>Not Registered</a>
        <hr />
        <a href='@Url.Content("~/Bet/Create")'>Place Bet</a>
        <hr />
        <label id="lYourHorses">Your horses:</label>
        <label id="lAssignedHorses">You have not placed a bet</label>
        <hr />
        <input type="submit" value="Simulate Race" />
    </fieldset>
}
