@model asp.net.mvc.charlal1.MelbourneCupOfficeSweepstakes.Models.Status

@{
    ViewBag.Title = "SweepstakeStatus";
}
]
<h2>Sweepstake Status</h2>

<h1>Betting Pool: @Html.Label(Model.BettingPool.ToString())</h1>

@foreach (var player in Model.BettingPlayers)
{      
    if (player.Horses.Count > 0)
    {
        <fieldset>
            <legend>Betting Player @Html.Label(player.PlayerID.ToString())</legend>
        <p>@Html.Label(player.Name) is betting on</p>
        
        @foreach (var horse in player.Horses)
        {
            <p>@Html.Label(horse.Name)</p>
        }
        </fieldset>
    }
}

<fieldset>
    <legend>Home</legend>

    @*@Html.ActionLink("Home", "SignupForm", "Home", Model, "")*@
    <div class="display-label"><a href='@Url.Content("~/Home/SignupForm")'>Home</a></div>
    
</fieldset>
    

